<template name="pageMenu">

  <ul id="top-menu">
    <li>
      <a href="{{ pathFor 'home' }}">Home | </a>
    </li>
    <li>
      <a href="{{ pathFor 'machines' }}">Máquinas | </a>
    </li>
    <li>
      <a href="{{ pathFor 'my-projects' }}">Meus Projetos | </a>
    </li>
    <li>
      <a href="{{ pathFor 'projetos' }}">Projetos | </a>
    </li>
    <li>
      <a href="#" id="logoutBtn">Logout</a>
    </li>
  </ul>

  <style>
  #top-menu li {
    display: inline;
  }
  </style>

</template>