<template name="projectList">

    <div class="container">

        <div class="row">
            <div class="col-lg-3">
                <h1>Projetos</h1>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-3">

                <div class="list-group">
                    <a href="#" data-filter="" class="list-group-item projectFilter">Todos</a>
                    {{ #if isLoggedIn }}
                        <a href="#" data-filter="userProjects" class="list-group-item projectFilter mb-4">Meus Projetos</a>
                    {{ /if }}
                </div>
                {{ #if checkUserIsInRole 'default-group' and isLoggedIn }}
                    <div class="text-center mb-4">
                        <a href="{{ pathFor 'project-new' }}" class="btn btn-success">Novo Projeto</a>
                    </div>
                {{ /if }}

            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">

                <div class="row">

                    {{ #each getProjects }}
                        <div class="col-lg-6 mb-4 animated fadeInRight">
                            <div class="card h-100">
                                <a href="{{ pathFor 'project-see' id=this._id }}">
                                    {{ #with getProjectCover this.coverId }}
                                        <img class="card-img-top" src="{{ this.url store='projectCoversStore' }}" alt="">
                                    {{ /with }}
                                </a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="{{ pathFor 'project-see' id=this._id }}">
                                            {{ this.title }}
                                        </a>
                                    </h4>
                                    <p class="card-text">
                                        {{ formatDescription this.description }}
                                    </p>
                                </div>
                                <div class="card-footer pb-0">
                                    <div class="row">
                                        <div class="col-xl-8">
                                            <span class=" align-middle">
                                                <h5 style="margin-bottom:2px;">
                                                    {{ #if this.public }}
                                                    Publicado
                                                    {{ else }}
                                                    Privado
                                                    {{ /if }}
                                                </h5>
                                            </span>
                                            <small style="color:#a5a4a4;">
                                                Atualizado em {{ formatDateToBrTextWithTime this.createdAt }}
                                            </small>
                                        </div>
                                        {{ #if canEditPost }}
                                            <div class="col-xl-4">
                                                <a href="{{ pathFor 'project-edit' id=this._id}}">
                                                    <button class="btn btn-default float-right">Editar</button>
                                                </a>
                                            </div>
                                        {{ /if }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{ /each }}

                </div>
                <!-- /.row -->

            </div>
            <!-- /.col-lg-9 -->

        </div>
        <!-- /.row -->

    </div>
</template>