<template name="projectSeeInfo">
    <div class="col-xl-4" style="position: absolute; right: 0;">
        {{ #if showInfo }}
            <div class="row animated fadeInRight">
                <span class="btn btn-info showInfoBtn showInfoBtn-open">Esconder</span>
            </div>
            <div class="row animated fadeInRight">
                <div class="card bg-light" style="width: 100%; border-width: 0px 1px;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-12">
                                {{ #with getProjectCover }}
                                <img class="card-img mb-2" src="{{ this.url store='projectCoversStore' }}">
                                {{ /with }}
                                {{ #with getProjectDocs }}
                                <a class="btn btn-success mb-2" href="{{ this.url store='projectManualsStore' }}" download="file">
                                    Download Doc's
                                </a>
                                {{ /with }}
                                <div style="max-height: 70%; overflow-y: scroll; position: absolute;">
                                    <p>{{ getProject.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{ else }}
            <div class="row animated fadeInLeft">
                <span class="btn btn-info showInfoBtn showInfoBtn-closed">Informações</span>
            </div>
        {{ /if }}
    </div>
    <style>

        .showInfoBtn {
            transform: rotate(-90deg);
            position: absolute;
            margin-top: 30%;
            z-index: 99;
        }

        .showInfoBtn-open {
            left: -14%;
        }

        .showInfoBtn-closed {
            right: -10%;
        }
    </style>
</template>