<template name="machineEdit">
    <div class="container">
        <div class="row">

            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-xl-10">
                                <h2>Editar Máquina</h2>
                            </div>
                            <div class="col-xl-2">
                                <a href="{{ pathFor '/maquinas '}}">
                                    <button class="btn btn-default float-right">Voltar</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    {{#autoForm collection="Machines" doc=getMachine id="updateMachineForm" type="update"}}
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-8">
                                {{> afQuickField name='title'}}
                                {{> afQuickField name='description'}}
                                {{> afQuickField name='available' type='boolean-checkbox'}}
                            </div>
                            <div class="col-xl-4">
                                {{> afQuickField name="imageId"
                                    type="cfs-file"
                                    collection="machineImages"
                                    placeholder="Clique para selecionar" }}
                                {{> afQuickField name="manualId"
                                    type="cfs-file"
                                    collection="machineManuals"
                                    placeholder="Clique para selecionar" }}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                    {{/autoForm}}
                </div>
            </div>

        </div>
    </div>
</template>