<template name="machineList">

<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-3">
            <h1>Máquinas</h1>
        </div>
    </div>
    <div class="row">

        <div class="col-lg-3">

            <div class="list-group">
                <a href="#" data-filter="" class="list-group-item machineFilter">Todas</a>
                <a href="#" data-filter="available" class="list-group-item machineFilter">Disponíveis</a>
                <a href="#" data-filter="unavailable" class="list-group-item machineFilter mb-4">Indisponíveis</a>
            </div>
            {{ #if checkUserIsInRole 'admin' }}
                <div class="text-center">
                    <a href="{{ pathFor 'new-machine' }}" class="btn btn-success">Cadastrar Nova</a>
                    <a href="{{ pathFor 'reserves' }}" class="btn btn-info">Reservas</a>
                </div>
            {{ /if }}

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <div class="row">

                {{ #each getMachines }}
                    <div class="col-lg-4 col-md-6 mb-4 animated fadeInRight">
                        <div class="card h-100">
                            <a href="{{ pathFor 'machine-see' id=this._id }}">
                                {{ #with getMachineImage this.imageId }}
                                    <img class="card-img-top" src="{{ this.url store='machineImagesStore' }}" alt="">
                                {{ /with }}
                            </a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="{{ pathFor 'machine-see' id=this._id }}">
                                        {{ this.title }}
                                    </a>
                                </h4>
                                <p class="card-text">
                                    {{ formatDescription this.description }}
                                </p>
                            </div>
                            <div class="card-footer">
                                <div>
                                <h5>
                                    {{ #if this.available }}
                                        Disponível
                                    {{ else }}
                                        Indisponível
                                    {{ /if }}
                                </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                {{ /each }}

            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
</template>