<template name="machineNew">

    <div class="container">
        <div class="row">

            <form class="form-horizontal">
                <fieldset>

                    <!-- Form Name -->
                    <legend>Nova Máquina</legend>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="nome">Nome</label>
                        <div class="col-md-4">
                            <input id="nome" name="nome" type="text" placeholder="nome da máquina" class="form-control input-md" required="">

                        </div>
                    </div>

                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="descricao">Descrição</label>
                        <div class="col-md-4">
                            <textarea class="form-control" id="descricao" name="descricao">Esta máquina serve para...</textarea>
                        </div>
                    </div>

                    <!-- File Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="imagem">Foto</label>
                        <div class="col-md-4">
                            <input id="imagem" name="imagem" class="input-file" type="file">
                        </div>
                    </div>

                    <!-- File Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="manual">Manual/About</label>
                        <div class="col-md-4">
                            <input id="manual" name="manual" class="input-file" type="file">
                        </div>
                    </div>

                    <!-- Multiple Checkboxes (inline) -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="availability"></label>
                        <div class="col-md-4">
                            <label class="checkbox-inline" for="availability-0">
                                <input type="checkbox" name="availability" id="availability-0" value="1"> Disponível
                            </label>
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="submit"></label>
                        <div class="col-md-4">
                            <button id="submit" name="submit" class="btn btn-info">Salvar</button>
                        </div>
                    </div>

                </fieldset>
            </form>

        </div>
    </div>
</template>