<template name="machineList">

<!-- Page Content -->
<div class="container">

    {{ #unless hideBack }}
        <div class="row">
            <div class="col-lg-3">
                <h1>Máquinas</h1>
            </div>
        </div>
    {{ /unless }}
    <div class="row">

        {{ #unless hideBack }}
        <div class="col-lg-3">

            <div class="list-group">
                <a href="#" data-filter="" class="list-group-item machineFilter">Todas</a>
                <a href="#" data-filter="available" class="list-group-item machineFilter">Disponíveis</a>
                <a href="#" data-filter="unavailable" class="list-group-item machineFilter mb-4">Indisponíveis</a>
            </div>
            {{ #if checkUserIsInRole 'admin' }}
                <div class="text-center mb-4">
                    <a href="{{ pathFor 'new-machine' }}" class="btn btn-success">Cadastrar Nova</a>
                    <a href="{{ pathFor 'reserves' }}" class="btn btn-info">Reservas</a>
                </div>
            {{ /if }}

        </div>
        <!-- /.col-lg-3 -->
        {{ /unless }}

        <div class="{{ #if hideBack }}col-xl-12{{ else }}col-lg-9{{ /if }}">

            <div class="row">

                {{ #each getMachines }}
                    <div class="col-lg-4 col-md-6 mb-4 animated fadeInRight">
                        <div class="card h-100">
                            {{ #if ../hideBack }}
                                <img class="card-img-top" src="{{ getMachineImage this.imageId }}" data-machineid="{{ this._id }}" alt="">
                            {{ else }}
                                <a href="{{ pathFor 'machine-see' id=this._id }}">
                                    <img class="card-img-top" src="{{ getMachineImage this.imageId }}" alt="">
                                </a>
                            {{ /if }}
                            <div class="card-body">
                                <h4 class="card-title">
                                    {{ #if ../hideBack }}
                                        {{ this.title }}
                                    {{ else }}
                                        <a href="{{ pathFor 'machine-see' id=this._id }}">
                                            {{ this.title }}
                                        </a>
                                    {{ /if }}
                                </h4>
                                {{ #unless ../hideBack }}
                                    <p class="card-text">
                                        {{ formatDescription this.description }}
                                    </p>
                                {{ /unless }}
                            </div>
                            {{ #unless ../hideBack }}
                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-xl-7">
                                            <span class=" align-middle">
                                                <h5>
                                                    {{ #if this.available }}
                                                    Disponível
                                                    {{ else }}
                                                    Indisponível
                                                    {{ /if }}
                                                </h5>
                                            </span>
                                        </div>
                                        {{ #if checkUserIsInRole 'admin' }}
                                            <div class="col-xl-5">
                                                <a href="{{ pathFor 'edit-machine' id=this._id}}">
                                                    <button class="btn btn-default float-right">Editar</button>
                                                </a>
                                            </div>
                                        {{ /if }}
                                    </div>
                                </div>
                            {{ /unless }}
                        </div>
                    </div>
                {{ /each }}

            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
<style>
    .card-img-top {
        width: 100%;
        height: 14vw;
        object-fit: cover;
    }
</style>
</template>