<template name="stepsNew">
    <div class="container">
        <div class="row">

            <div class="col-xl-12">
                <div class="card">
                    {{ #unless hideBack }}
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col-xl-10">
                                    <h2>Nova Etapa</h2>
                                </div>
                                <div class="col-xl-2">
                                    <a href="{{ pathFor 'steps-library'}}">
                                        <button class="btn btn-default float-right">Voltar</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {{ /unless }}
                    {{ #if getStep }}
                        {{#autoForm collection="Steps" doc=getStep id="updateStepForm" type="insert"}}
                            {{> autoFormStepsFields }}
                        {{/autoForm}}
                    {{ else }}
                        {{#autoForm collection="Steps" id="insertStepForm" type="insert"}}
                            {{> autoFormStepsFields }}
                        {{/autoForm}}
                    {{ /if }}
                </div>
            </div>

        </div>
    </div>
</template>

<template name="autoFormStepsFields">
    <div class="card-body">
            <div class="row">
                <div class="col-xl-8">
                    {{> afQuickField name='title'}}
                    {{> afQuickField name='instructions'}}
                    {{> afArrayField name='embedContent' maxCount='5'}}
                </div>
                <div class="col-xl-4">
                    {{> afQuickField
                        name="imagesIds"
                        id="imagesInput"
                        type="cfs-files"
                        collection="stepImages"
                        placeholder="Clique para selecionar"
                    }}
                    <input type="hidden" name="imagesIdsMedia" id="imagesIdsMedia" value="">
                    {{> afQuickField
                        name="manualId"
                        type="cfs-file"
                        collection="stepManuals"
                        placeholder="Clique para selecionar"
                    }}
                    {{ #if checkUserIsInRole 'admin' }}
                        <br>
                        {{> afQuickField name='active' value=true type='boolean-checkbox'}}
                    {{ /if }}
                </div>
            </div>
            <div class="row">
                <div class="col-xl-10">
                    <div class="form-group mt-3">
                        <button id="newStepSubmitBtn" type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
</template>