<template name="projectSteps">
    <div class="container" style="max-width:100%;">
        <div class="row">

            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-xl-9">
                                <h2>Etapas do Projeto</h2>
                            </div>
                            <div class="col-xl-2 pr-0">
                                <button class="btn btn-success float-right" id="newStepModalBtn">Nova Etapa</button>
                            </div>
                            <div class="col-xl-1">
                                <a href="{{ pathFor 'projects'}}">
                                    <button class="btn btn-default float-right">Voltar</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="col-xl-12">
                            <div class="row">
                                <div class="card bg-light" style="width: 100%;">
                                    <div class="container-fluid" id="stepsContainer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <style>

        #stepsContainer{
            padding-bottom: 1.5rem !important;
            min-height: 36vw !important;
        }

        /*.deleteStepBtn:hover {
            float:right;
            display:inline-block;
            padding:2px 5px;
            background:#ccc;
        }*/
    </style>
</template>