<template name="projectEdit">
    <div class="container">
        <div class="row">

            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">

                        <div class="row align-items-center">
                            <div class="col-xl-9">
                                <h2>Editar Projeto</h2>
                            </div>
                            <div class="col-xl-2 pr-0">
                                {{ #with getProject }}
                                    <a href="{{ pathFor 'project-steps' id=this._id}}">
                                        <button class="btn btn-info float-right">Etapas</button>
                                    </a>
                                {{ /with }}
                            </div>
                            <div class="col-xl-1">
                                <a href="{{ pathFor 'projects'}}">
                                    <button class="btn btn-default float-right">Voltar</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    {{#autoForm collection="Projects" doc=getProject id="updateProjectForm" type="update"}}
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-8">
                                {{> afQuickField name='title'}}
                                {{> afQuickField name='description'}}
                                <div class="row">
                                    <div class="col-xl-3">
                                        {{> afQuickField name='public' type='boolean-checkbox'}}
                                    </div>
                                    {{ #if checkUserIsInRole 'admin' }}
                                        <div class="col-xl-2 pl-0">
                                            {{> afQuickField name='active' value=true type='boolean-checkbox'}}
                                        </div>
                                    {{ /if }}
                                </div>
                            </div>
                            <div class="col-xl-4">
                                {{> afQuickField name="coverId"
                                    type="cfs-file"
                                    collection="projectCovers"
                                    placeholder="Clique para selecionar" }}
                                {{> afQuickField name="manualId"
                                    type="cfs-file"
                                    collection="projectManuals"
                                    placeholder="Clique para selecionar" }}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                    {{/autoForm}}
                </div>
            </div>

        </div>
    </div>
</template>