<template name="projectSteps">
    <div class="container" style="max-width:100%;">
        <div class="row">

            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-xl-10">
                                <h2>Etapas do Projeto</h2>
                            </div>
                            <div class="col-xl-2">
                                <a href="{{ pathFor 'projects'}}">
                                    <button class="btn btn-default float-right">Voltar</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="col-xl-12">
                            <div class="row">
                                <!-- {{ #if getThreeNodes }} -->
                                    <div class="container-fluid card bg-light" style='padding-bottom: 1.5rem !important;' id="stepsContainer"></div>
                                <!-- {{ /if }} -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <style>

        .card-img-top {
            width: 100%;
            height: 5vw;
            object-fit: cover;
        }

        /*.deleteStepBtn:hover {
            float:right;
            display:inline-block;
            padding:2px 5px;
            background:#ccc;
        }*/
    </style>
</template>