<template name="projectSteps">
    <div class="container" style="max-width:100%;">
        <div class="row">

            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-xl-9">
                                <h2>Etapas do Projeto</h2>
                            </div>
                            <div class="col-xl-2 pr-0">
                                <button class="btn btn-success float-right" id="newStepModalBtn">Nova Etapa</button>
                            </div>
                            <div class="col-xl-1">
                                <a href="{{ pathFor 'projects'}}">
                                    <button class="btn btn-default float-right">Voltar</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="col-xl-12">
                            <div class="row">
                                <div class="card bg-light" style="width: 100%;">
                                    <div class="container-fluid" id="stepsContainer">
                                        {{ #unless projectHasSteps }}
                                            <div class="row">
                                                <div class="col-xl-2 mx-auto mt-4">
                                                    <button class="btn btn-info float-right stepBtn" data-stepid="false" data-push="true">Primeira Etapa</button>
                                                </div>
                                            </div>
                                        {{ /unless }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <style>

        #stepsContainer{
            padding-bottom: 1.5rem !important;
            min-height: 36vw !important;
        }

        .step-node {
            max-width: 10%;
        }

        .node-title {
            font-size: 13px;
            padding: 2px;
            opacity: 0.8;
            position: absolute;
            bottom: 60%;
            left: 107%;
            white-space: nowrap;
            z-index: 99;
            color: white;
            background-color: black;
            display: none;
        }

        .step-node:hover .node-title {
            display: block;
        }

        .stepArea {
            max-width: 105%;
            z-index: 999;
        }

        .step-node:hover .rightStepBtn,
        .step-node:hover .leftStepBtn,
        .step-node:hover .downStepBtn {
            display: block;
        }

        .stepBtn {
            background-color: white;
            border-radius: 5px;
            display: none;
        }


        .leftStepBtn {
            position: absolute;
            right: 80%;
            top: 32%;
        }

        .rightStepBtn {
            position: absolute;
            left: 80%;
            top: 32%;
        }

        .downStepBtn {
            position: absolute;
            left: 35%;
            top: 78%;
        }

    </style>
</template>