<template name="projectStepsManage">
    <div class="container">
        <div class="row">

            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-xl-10">
                                <h2>Gerenciar Etapas</h2>
                            </div>
                            <div class="col-xl-2">
                                <a href="{{ pathFor 'projects'}}">
                                    <button class="btn btn-default float-right">Voltar</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        {{> projectSteps projectId=getProjectId }}
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>