<template name="stepsNewEditModal">
<div class="modal fade" id="stepsNewEditModal">
        <div class="modal-dialog m-auto">
            <div class="modal-content">

                <div class="modal-header">
                    {{#if editMode }}
                        <h4 class="modal-title">Editar Etapa</h4>
                    {{ else }}
                        <h4 class="modal-title">Nova Etapa</h4>
                    {{ /if }}
                    <div class="modal-closeBtn" data-dismiss="modal">x</div>
                </div>

                <div class="modal-body">
                    {{#if editMode }}
                        {{> stepsNew hideBack=true step=step }}
                    {{ else }}
                        {{> stepsNew hideBack=true }}
                    {{ /if }}
                </div>

                <div class="modal-footer d-none">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>

            </div>
        </div>
    </div>
    <style>
        .modal-dialog {
            width: 70% !important;
            max-width: unset !important;
            margin-top: 2% !important;
            margin-bottom: 2% !important;
        }

        .modal-dialog .modal-body {
            padding: 0px;
        }

        .modal-dialog .modal-body .container .col-xl-12{
            padding: 0px;
        }

        .modal-dialog .modal-body form {
            padding-left: 2rem;
            padding-right: 2rem;
        }

        .modal-closeBtn {
            padding: 0px 10px;
            background-color: #e8ebef;
            border-radius: 3px;
            cursor: pointer;
        }
    </style>
</template>