<template name="adminDashboard">

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-3">
                <h1>Administração</h1>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-3">

                <div class="list-group">
                    <a href="#" data-filter="homeAdmin" class="list-group-item adminSwitcher">Home</a>
                    <a href="#" data-filter="reservasAdmin" class="list-group-item adminSwitcher">Reservas</a>
                    <a href="#" data-filter="reportsAdmin" class="list-group-item adminSwitcher">Bug/Reports</a>
                </div>
                <div class="text-center mt-4">
                    <h3>API Token</h3>
                    <input type="text" name="apiToken" class="form-control mt-2" value="{{ getApiToken }}" disabled readonly>
                </div>

            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">

                <div class="row">

                    {{> Template.dynamic template=getContentTemplate }}

                </div>
                <!-- /.row -->

            </div>
            <!-- /.col-lg-9 -->

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</template>